@model BugHunterBugTrackerZD.Models.Ticket

@{
    ViewData["Title"] = "Delete";
}

<style>
    .ck-editor__editable_inline {
        min-height: 250px;
    }

    input.largerCheckbox {
        width: 30px;
        height: 30px;
    }

    label.form-check-label {
        font-size: 22px;
    }
</style>


@*<h4>Ticket</h4>*@
<hr />

<main class="container mt-5">
    <div class="col-12">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>
                <h4 class="card-title">Update Ticket</h4>
            </header>

            <div class="card-body">
                <form asp-action="Delete" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="TicketTypeId" class="control-label"></label>
                                <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                                <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TicketPriorityId" class="control-label"></label>
                                <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TicketStatusId" class="control-label"></label>
                                <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                                <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control editor" rows="1"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer text-end mt-3">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Archive" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </footer>
                </form>
            </div>
        </section>
    </div>
</main>

@section Scripts {
    <script src="~/ckeditor5/build/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('.editor'), {
                licenseKey: '',
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: xx09iayzufkn-lkt434h3lx2z');
                console.error(error);
            });
    </script>
}
    
    
