@model BugHunterBugTrackerZD.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@*<h4>Project</h4>*@
<hr />
@*<div class="row">
    <div class="col-md-8">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>

                <h4 class="card-title">Project</h4>
            </header>
            <div class="card-body">
                <form asp-action="Edit" class="form-horizontal form-bordered">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row pb-4">
                        <label asp-for="Name" class="col-lg-3 control-label text-lg-end pt-2"></label>
                        <div class="col-lg-6">
                            <input asp-for="Name" class="form-control">
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row pb-4">
                        <label asp-for="Description" class="col-lg-3 control-label text-lg-end pt-2"></label>
                        <div class="col-lg-6">
                            <input asp-for="Description" class="form-control" id="inputDefault">
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group row pb-4">
                        <label asp-for="StartDate" class="col-lg-3 control-label text-lg-end pt-2"></label>
                        <div class="col-lg-6">
                            <input asp-for="StartDate" class="form-control" id="inputDefault">
                        </div>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group row pb-4">
                        <label asp-for="EndDate" class="col-lg-3 control-label text-lg-end pt-2"></label>
                        <div class="col-lg-6">
                            <input asp-for="EndDate" class="form-control" id="inputDefault">
                        </div>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group row pb-4">
                        <label asp-for="ProjectPriorityId" class="col-lg-3 control-label text-lg-end pt-2"></label>
                        <div class="col-lg-6">
                            <select asp-for="ProjectPriorityId" data-plugin-selectTwo class="form-control populate" asp-items="ViewBag.ProjectPriorityId"></select>
                        </div>
                    </div>
                    <footer class="card-footer text-end">
                        <button type="submit" value="Save" class="mb-1 mt-1 me-1 btn btn-primary">Submit</button>
                        <button type="reset" class="mb-1 mt-1 me-1 btn btn-default">Reset</button>
                    </footer>
                </form>
            </div>
        </section>
    </div>
</div>
*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" /> 
            <input type="hidden" asp-for="Created" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectPriorityId" class="control-label"></label>
                <select asp-for="ProjectPriorityId" class="form-control" asp-items="ViewBag.ProjectPriorityId"></select>
                <span asp-validation-for="ProjectPriorityId" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
